/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
	font-family: var(--main-font, "Inter", sans-serif);
	font-variation-settings: "wght" var(--font-wght-regular, 400);
	line-height: 1;
	min-inline-size: 320px;
	min-block-size: 100dvb;
	padding-block-start: 100px;
	padding-block-end: 100px;
	background-image: var(--background-image, none);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.width-block {
	max-inline-size: var(--max-width);
}

.header {
	display: grid;
	justify-items: center;
	justify-content: center;
	margin-block-end: 100px;
	margin-inline: auto;
	font-family: var(--accent-font, "PressStart2P", serif);
	text-transform: uppercase;
	min-block-size: 375px;
	background: var(--white-color, #ffffff);
}

.header__text {
	margin-block-end: 20px;
	align-self: end;
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
	align-self: start;
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
	display: grid;
	justify-items: center;
	justify-content: center;
}

.card-block__list {
	display: grid;
	gap: 50px;
}

.card-info {
	background-color: var(--white-color, #ffffff);
}

.card-info__title {
	border: 2px solid var(--black-color, #000000);
	padding: 4px 10px;
	font-size: 18px;
	font-variation-settings: "wght" var(--font-wght-bold, 700);
}

.card-info__wrap-image {
	position: relative;
}

.card-info__label {
	position: absolute;
	z-index: 1;
	opacity: 0.5;
	color: var(--black-color, #000000);
	font-family: var(--accent-font, "PressStart2P", serif);
	font-size: 14px;
	text-shadow: 0 0 1px var(--white-color, #ffffff);
	inset-inline-end: 25px;
	inset-block-start: 27px;
	mix-blend-mode: hard-light;
}

@supports (
	(-webkit-text-stroke: 1px var(--white-color, #ffffff)) or
		(text-stroke: 1px var(--white-color, #ffffff))
) {
	.card-info__label {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--white-color, #ffffff);
		text-stroke: 1px var(--white-color, #ffffff);
	}
}

.card-info__image {
	display: flex;
}

.card-info__wrap-text {
	display: flex;
	flex-direction: column;
	padding: 25px;
	border: 2px solid var(--black-color, #000000);
	border-block-start: 0;
}

.card-info__text {
	margin-block-end: 27px;
	font-size: var(--main-font-size, 18px);
	line-height: 1.2;
}

.card-info__text--last-mb {
	margin-block-end: 25px;
}

.card-info__wrap-buttons {
	display: flex;
	align-items: center;
	align-self: flex-end;
}

.btn {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.btn--like {
	font-family: var(--accent-font, "PressStart2P", serif);
	font-size: 14px;
	line-height: 0.9;
	border: 2px solid var(--black-color, #000000);
	padding: 12px 37px;
}

.like-icon {
	block-size: 36px;
	inline-size: 39px;
}
