/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--main-font: "Inter";
	--accent-font: "PressStart2P";
	--font-wght-bold: 700;
	--font-wght-regular: 400;
	--background-image: repeating-linear-gradient(
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			90deg,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(#e7e7e7, #1a1a1a);
	--max-width: 700px;
	--white-color: #fff;
}
